@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

#btnSaveClaim {
    margin-right: 10px;
}

label.col-md-2.control-label {
    font-size: 13px;
    width: 102px;
    margin-right: 24px;
}

td.btnCol {
    width: 141px;
}

li.checkBoxMain{
  list-style-type: none;
}

label.with-square-checkbox span {
    font-weight: 500;
    font-size: 13px;
}