div#sort_wrapper {
  width: 98%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */

.dataTable tr:nth-of-type(odd) {
  background: #fafafa;
}

.dataTable tr:nth-of-type(even) {
  background: #fff;
}

.dataTable th {
  background: #337ab7;
  color: #ffffff;
  font-weight: 300;
}

.dataTable td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.dataTable  td:nth-of-type(1) {
  font-weight: 500 !important;
}

.dataTable  td {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  line-height: 20px;
}

span {
  font-style: italic
}

i.fa.fa-file-text-o {
  font-size: 22px;
  margin-bottom: 14px;
  color: #333333;
  transition: all .5s ease-in-out;
}

i.fa.fa-file-text-o:hover {   
  color: #337ab7;
  transform: scale(1.1);
}

table#sort tbody tr > td {
  text-align: center;
}

table#sort thead > tr > th {
  text-align: center;
}

a.btnEdit {
  transition: all .5s ease-in-out;
  font-size: 1.6rem;  
  color: #333333;
}

a.btnEdit:hover {  
  color: #337ab7;
  transform: scale(1.1);
}

tr td {
  font-size: 12px;
}

div#OptionCodeDisplay {
  display: inline-block;
}

.fa.fa-edit {
  color: #337ab7;
  padding-top: 5px;
  font-size: 17px;
}

.fa.fa-edit:hover {
  transform: scale(1.1);
}

/* GRID QUOTE DETAILS */
td.editBtnCol {
  width: 4%;
}

td.deleteBtnCol {
  width: 4%;
  text-align: center;
}

.fa.fa-trash-o {
  color: red;
  padding-top: 5px;
  font-size: 17px;
}

.fa.fa-trash-o:hover {
  transform: scale(1.1);
}

.fa.fa-plus-circle {
  color: #1dc209;
  padding-top: 5px;
  font-size: 17px;
}

.fa.fa-plus-circle:hover {
  transform: scale(1.1);
}

.fa.fa-gg-circle {
  color: #0917c2;
  padding-top: 5px;
  font-size: 17px;
}

.fa.fa-gg-circle:hover {
  transform: scale(1.1);
}

.fa.fa-clone {
  color: #0917c2;
  padding-top: 5px;
  font-size: 15px;
}

.fa.fa-clone:hover {
  transform: scale(1.1);
}

.fa.fa-money {
  color: #302626;
  padding-top: -10px;
  font-size: 17px;
}

.fa.fa-money:hover {
  transform: scale(1.1);
}


.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  margin: 0 22px;
}
.table tr {
  cursor: pointer;
}
/* GRID QUOTE DETAILS */

.wrapperXXX {
  text-transform: uppercase;
  background: #ececec;
  color: #555;
  cursor: help;
  font-family: "Gill Sans", Impact, sans-serif;
  font-size: 20px;
  margin: 100px 75px 10px 75px;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  width: 200px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
  }
  
  .wrapperXXX .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -20px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
      transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
     -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  }
  
  /* This bridges the gap so you can mouse into the tooltip without it disappearing */
  .wrapperXXX .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  }
  
  /* CSS Triangles - see Trevor's post */
  .wrapperXXX .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
  }
  
  .wrapperXXX:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
     -o-transform: translateY(0px);
      transform: translateY(0px);
  }
  
  /* IE can just show/hide with no transition */
  .lte8 .wrapperXXX .tooltip {
  display: none;
  }
  
  .lte8 .wrapperXXX:hover .tooltip {
  display: block;
  }