div#sort_wrapper {
  width: 98%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */

.dataTable tr:nth-of-type(odd) {
  background: #e2effe;
}

.dataTable tr:nth-of-type(even) {
  background: #fff;
}

.dataTable th {
  background: #337ab7;
  color: #ffffff;
  font-weight: 300;
}

.dataTable td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.dataTable  td:nth-of-type(1) {
  font-weight: 500 !important;
}

.dataTable  td {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  line-height: 20px;
}

span {
  font-style: italic
}

i.fa.fa-file-text-o {
  font-size: 22px;
  margin-bottom: 14px;
  color: #333333;
  transition: all .5s ease-in-out;
}

i.fa.fa-file-text-o:hover {   
  color: #337ab7;
  transform: scale(1.1);
}

table#sort tbody tr > td {
  text-align: center;
}

table#sort thead > tr > th {
  text-align: center;
}

a.btnEdit {
  transition: all .5s ease-in-out;
  font-size: 1.6rem;  
  color: #333333;
}

a.btnEdit:hover {  
  color: #337ab7;
  transform: scale(1.1);
}

tr td {
  font-size: 12px;
}

div#OptionCodeDisplay {
  display: inline-block;
}

i#editBtn{
  color: #337ab7;
  background: #ecf0f5;
  padding: 10px;
  border-radius: 20px;  
  margin: 0 0px 0 13px;
  transition: all .5s ease-in-out;
}
i#editBtn:hover {
  color: white;
  background-color: #337ab7;
}

/* GRID QUOTE DETAILS */
td.editBtnCol {
  width: 4%;
}

td.deleteBtnCol {
  width: 4%;
  text-align: center;
}

.fa.fa-trash-o {
  color: red;
  padding-top: 5px;
  font-size: 25px;
}

.fa.fa-trash-o:hover {
  transform: scale(1.1);
}

/* GRID QUOTE DETAILS */